
<div class="container">
  <div id="main">


    <div class="row" id="real-estates-detail">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <header class="panel-title">
              <div class="text-center">
              </div>
            </header>
          </div>
          <div class="panel-body">
            <div class="text-center" id="author">
              <img src="/assets/сердце3.svg">
              <h3>Роман баканов</h3>

              <p>Люблю ВОВ и прогать</p>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="panel">
          <div class="panel-body">

            <h1  data-toggle="tab">О пользователе</h1>


            <div id="myTabContent" class="tab-content">
              <hr>


              <table class="table table-th-block">
                <tbody>

                <tr><td class="active">Группа</td><td>ИУ6-32Б</td></tr>
                <tr><td class="active">Страна:</td><td>Россия</td></tr>
                <tr><td class="active">Родной город:</td><td>Пушкино</td></tr>
                <tr><td class="active">Дата рождения:</td><td>27.05.2001</td></tr>
                <tr><td class="active">Семейное положение:</td><td>люблю прогать</td></tr>
                <tr><td class="active">Контакты:</td><td>тут мб можн как т сделать ссылки на вк и инсту </td></tr>
                <tr><td class="active">О себе:</td><td>тут типа много текста может быть чел рассказыват, все что душе угодно вооооооооооооот так вооот!</td></tr>
                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div><!-- /.main -->
</div><!-- /.container -->